*{
    color:aliceblue;
}
.bg{
    background: url("l1.jpg") no-repeat;
    width:100%;
    height: 100vh;
}
.form-container{
 border: 0px solid #fff;
 padding: 50px 60px;
 margin-top: 20vh;
 -webkit-box-shadow: -1px 4px 26px 11px rgba(199,179,199,1);
-moz-box-shadow: -1px 4px 26px 11px rgba(199,179,199,1);
box-shadow: -1px 4px 26px 11px rgba(199,179,199,1);